@model IEnumerable<Question>

<h1>@Model.Count() Questões Cadastradas até o Momento</h1>

<p>
    <a class="btn btn-primary" asp-controller="Question" asp-action="Create">Criar Nova Questão</a>
</p>
<table class="table table-light">
    <thead>
        <tr>
            <th>
                Id da Questão
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statement)
                </td>
                <td width="15%">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.QuestionId">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.QuestionId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
