@model IatPrepExam.Models.Quizz

@{
    ViewData["Title"] = "Results";
    char[] letters = { 'A', 'B', 'C', 'D', 'E' };
    var timeToFinish = Model.FinishedAt - Model.StartedAt;
    string timeToString = timeToFinish.ToString(@"hh\:mm\:ss");
}

<h1>Resultado</h1>
<h5> Pontos : @Model.Score</h5>
<h5> Percentual de Acerto : @Model.ScoreRatio.ToString("P2")</h5>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Questionário</h1>
            <br />
        </div>
        <div>
            Você levou @timeToString pra concluir o Questionário.
        </div>
        <div>
            @(timeToFinish.Seconds / Model.NumberOfQuestions) Segundos Por Questão.
            <br /><br />
        </div>
    </div>
    <div>
        <input asp-for="Id" hidden />
        @if (Model.Questions != null)
        {
            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                <div class="card">
                    <div class="card-header bg-primary bg-opacity-25">
                        <h3> (Questão - @(i + 1)) @Model.Questions[i].Statement</h3>
                        <h6>(ID - @Model.Questions[i].QuestionId) </h6>
                    </div>
                    <div class="card-body">
                        <div>
                            @for (int j = 0; j < Model.Questions[i].Alternatives.Count; j++)
                            {
                                if (!string.IsNullOrEmpty(@Model.Questions[i].Alternatives[j].Text))
                                {


                                    <label style="color: @(@Model.Questions[i].Alternatives[j].IsRight ? "blue" : "red")">@letters[j] - @Model.Questions[i].Alternatives[j].Text </label>
                                    <br />

                                }
                            }
                        </div>
                        <h5>
                            Sua Resposta Foi :
                            @if (Model.Answers.Where(x => x.Question == Model.Questions[i]).Count() > 0)
                            {
                                @Model.Answers.Where(x => x.Question == Model.Questions[i]).First().AnswerValue
                                ;
                            }
                        </h5>
                    </div>
                </div>
                <br />
            }
        }
    </div>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
