@model Quizz

@{

    char[] letters = { 'A', 'B', 'C', 'D', 'E' };
}

<form asp-controller="Quizz" asp-action="Results" method="post">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Questionário</h1>
            </div>
        </div>
        <div>
            <input asp-for="Id" hidden />
            @if (Model.Questions != null)
            {
                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    <div>
                        <h3> (Questão - @(i + 1)) @Model.Questions[i].Statement</h3>
                        <h6>(ID - @Model.Questions[i].QuestionId) </h6>
                        <div class="form-check">
                            @for (int j = 0; j < Model.Questions[i].Alternatives.Count(); j++)
                            {
                                if (!string.IsNullOrEmpty(@Model.Questions[i].Alternatives[j].Text))
                                {
                                    <input class="form-check-input" type="radio" name="@Model.Questions[i].QuestionId" value="@letters[j]" />
                                    <label class="form-check-label">@letters[j] - @Model.Questions[i].Alternatives[j].Text </label>
                                    <br />
                                }
                            }

                        </div>
                    </div>
                    <br />
                }
            }
        </div>
    </div>

    <input asp-controller="Quizz" asp-action="Results" type="submit" value="Concluir Simulado" class="btn btn-primary" />
</form>




