@model Quizz

<form asp-controller="Quizz" asp-action="Results" method="post">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Questionário</h1>
            </div>
        </div>
        <div>
            <input asp-for="Id" hidden />
            @if (Model.Questions != null)
            {
                @for (int i = 0; i < Model.Questions.Count; i++)
                {

                    <h3>@(i+1) - @Model.Questions[i].Statement</h3>
                    <div>
                        <input type="radio" name="@Model.Questions[i].QuestionId" id="@Model.Questions[i].Alternatives[i].Id" value="A" />
                        <label>A - @Model.Questions[i].Alternatives[0].Text </label>
                        <br />
                        <input type="radio" name="@Model.Questions[i].QuestionId" value="B" />
                        <label>B - @Model.Questions[i].Alternatives[1].Text</label>
                        <br />
                        <input type="radio" name="@Model.Questions[i].QuestionId" value="C" />
                        <label>C - @Model.Questions[i].Alternatives[2].Text</label>
                        <br />
                        <input type="radio" name="@Model.Questions[i].QuestionId" value="D" />
                        <label>D - @Model.Questions[i].Alternatives[3].Text</label>
                        <br />
                        <input type="radio" name="@Model.Questions[i].QuestionId" value="E" />
                        <label>E - @Model.Questions[i].Alternatives[4].Text</label>
                    </div>

                    <br />
                }
            }
        </div>
    </div>

    <input asp-controller="Quizz" asp-action="Results" type="submit" value="Concluir Simulado" class="btn btn-primary" />
</form>




@* <radiogroup>
                        @foreach (var alternative in question.Alternatives)
                        {
                            <input type="radio" id="@(question.QuestionId)" name="@question.QuestionId" value="@(alternative.IsRight ? "Correto" : "Errado" )" />
                            <label for="@alternative.Id">@alternative.Text</label>

                            <br />
                        }
                    </radiogroup> *@